# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# macOS-specific files
.DS_Store

# Environments
.env
.env.test

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# VS Code directory
.vscode/

# Production
build/
dist/

# TypeScript
*.tsbuildinfo

# Optional REPL history
.node_repl_history

# Temporary files
tmp/
temp/
*.tmp

# Raycast specific files
raycast-env.d.ts
.raycast-swift-build
.swiftpm
compiled_raycast_swift
